* {
    box-sizing: border-box;
}

body {
    border-style:  solid;
    border-color: #293264;
    border-width: 1px;
}

/* Start Page */

.start-page {
    height: 550px;
    width: auto;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.start-page-content{
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.game-title {
    margin: 0px;
    color: #293264;
    font-weight: 700;
    font-size: 45px;
}

.game-intro {
    text-align: center;
    margin-top: 10px;
    color: #293264;
    font-size: 20px;
    letter-spacing: 1px;
}

.game-start-button {
    margin: 10px;
    width: 180px;
    height: 50px;
    background-color: #4D5B9E;
    color: white;
    border-style: none;
    border-radius: 17px;
}

.game-start-button:focus{
    outline: none;
}

/* Game Page */

.game-page {
    padding: 0px;
    width: auto;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    overflow: scroll;
}

.question {
    color: #293264;
    font-size: 12px;
    margin: 5px 10px;
    padding: 10px 40px;
    display:flex;
    flex-direction: column;
}

.option-button {
    font-size: 12px;
    background-color: white;
    height: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #293264;
    border-radius: 15px;
    min-width: 80px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.option-button:focus{
    transform: none;
    outline: none;
}

.submit-div {
    display: flex;
    flex-direction: row;
    justify-content:  flex-end;
    margin: 0px;
    padding: 0px;
    padding-right: 40px;
}

.submit-button {
    margin: 5px;
    width: 100px;
    height: 40px;
    background-color: #4D5B9E;
    color: white;
    border-style: none;
    border-radius: 17px;
}

.submit-button:focus{
    outline: none;
}

.score {
    text-align: right;
    color: #293264;
    font-size: 30px;
    margin: 10px 38px;
}

.submit-div {
    justify-content: flex-end;
    margin: 10px;
    width: 100%;
}
